* {
  padding: 0px;
  margin: 0px;
}
.main {
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: chartreuse;
  position: absolute;
}
.top-left {
  top: 0;
  left: 0;
}
.top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 0;
  right: 0;
}
.bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.left-center {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.right-center {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box {
  width: 100px;
  height: 50px;
  background-color: red;
  text-align: center;
  line-height: 50px;
}
.ctl {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}
.ctr {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
}
.cbl {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-100%, 100%);
}
.cbr {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(100%, 100%);
}
